@font-face {
  font-family: secondaryFont;
  src: url(/weather-app-main/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
}
@font-face {
  font-family: dmSans ;
  src: url(/weather-app-main/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* === Neutral Colors === */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0:   hsl(0, 0%, 100%);

  /* === Orange === */
  --orange-500: hsl(28, 100%, 52%);

  /* === Blue === */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}
body{
  font-size: 18px;
  background: var(--neutral-900);
  font-family: dmSans;
}
header nav{
  color: white;
}
header nav h1{
  font-size: 18px;
  padding: 24px 24px;
}
.hero{
  font-family: secondaryFont;
  text-align: center;
  color: #fff;
  padding: 20px 20px;
  font-size: 56px;
  
}
form{
    padding: 20px 18px;

}
.search{
  background: var(--neutral-800);
  border-radius: 10px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.search input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  padding: 0px 10px;
  font-size: 15px;
  outline: none;
}
.search input::placeholder{
  color: var(--neutral-200);
}
.searchBtn{
  width: 100%;
  background: var(--blue-500);
  border: 0;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
margin-top: 15px;
}
.weatherCard{
  background: var(--blue-500);
  color: #fff;
  padding: 20px;
}
.weatherCard #date{
  color: #fff;
}