@font-face {
  font-family: secondaryFont;
  src: url('/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf');
}
@font-face {
  font-family: dmSans ;
  src: url('/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* === Neutral Colors === */
  --neutral-900: hsl(243, 96%, 9%);
  --neutral-800: hsl(243, 27%, 20%);
  --neutral-700: hsl(243, 23%, 24%);
  --neutral-600: hsl(243, 23%, 30%);
  --neutral-300: hsl(240, 6%, 70%);
  --neutral-200: hsl(250, 6%, 84%);
  --neutral-0:   hsl(0, 0%, 100%);

  /* === Orange === */
  --orange-500: hsl(28, 100%, 52%);

  /* === Blue === */
  --blue-500: hsl(233, 67%, 56%);
  --blue-700: hsl(248, 70%, 36%);
}
body{
  background: var(--neutral-900);

}
.body{
  font-size: 18px;
  font-family: dmSans;
  padding: 18px;
  position: relative;
  z-index: 19;
  color: #fff;
}

.bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: 20px 20px;
/*  background-color: var(--bg);
  transition: var(--transition);
  background-image: radial-gradient(#FFFFFFBF 0.35px, transparent 0.35px);*/
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.weatherBg{
  display: none !important;
}
.weatherBg.active{
  display: block !important;
}
header nav{
  color: white;
}
header nav h1{
  font-size: 18px;
  padding: 24px 24px;
  font-family: secondaryFont;
}

.hero{
  font-family: secondaryFont;
  text-align: center;
  color: #fff;
  padding: 20px 20px;
  font-size: 56px;
  
}
form{
    padding: 20px 0;

}
.search{
  background: var(--neutral-800);
  border-radius: 10px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.search input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  padding: 0px 10px;
  font-size: 15px;
  outline: none;
}
.search input::placeholder{
  color: var(--neutral-200);
}
.searchBtn{
  width: 100%;
  background: var(--blue-500);
  border: 0;
  color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 10px;
margin-top: 15px;
}
.weatherCard{
  background: var(--blue-500);
  color: #fff;
  padding: 30px 20px;
  background-image: url(assets/images/bg-today-small.svg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherCard .header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.weatherCard #date{
  color: #fff;
  color: var(--neutral-200);
  margin: 8px 0;
  
}
.weatherCard #location{
  font-family: dmSans;
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0;
}
.weatherCard .weatherInfo{
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
  padding: 0 5px;
  width: 100%;
}
.weatherCard .weatherInfo #temp{
  font-size: 80px;
  font-style: italic;
  font-weight: 600;
}

.details{
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.details .card{
  background: var(--neutral-800);
  border: 1.5px solid var(--neutral-600);
  border-radius: 10px;
  padding: 20px 15px;
}
.details .card .head{
  font-size: 18px;
  color: var(--neutral-200);
}
.details .card #feels_temp{
  font-size: 36px;
  font-weight: 300;
  margin-top: 20px;
}